#page_title { text-align:center;}

#welcome .content { text-align:center; padding:30px; }

input.nextpage { position:absolute; left:60%; text-align:center; }

#direction p { padding-left:20px; padding-right:20px;}

#info { clear:both; }

#info .info_pannel { float:left; }

#info table { border:1px solid; }

#info td,#info th { border:1px solid; }

#info .timer { float:left; margin-left:100px; }

#info .timer p { border:1px solide; color:red; font-size:200%; }

#question_pannel { padding-top:20px; }

#question_pannel .answer { padding-left:20px; }
